/* ServiceCard.css */
.service-item {
  margin-bottom: 40px;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

.service-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-info {
  padding: 30px;
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 15px;
}

.service-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: var(--primary-color);
}

.service-time {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.service-description {
  margin-bottom: 20px;
}

.service-features {
  margin-bottom: 20px;
}

.service-feature {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.feature-icon {
  margin-right: 10px;
  color: var(--primary-color);
}

.service-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.btn-book {
  padding: 8px 15px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 20px;
  font-size: 0.8rem;
  transition: all 0.3s ease;
}

.btn-book:hover {
  background-color: #FFBBC9;
  color: var(--white);
}


/* Service Category Buttons */
.service-categories, 
.price-categories,
.gallery-categories {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.category-btn {
  padding: 10px 20px;
  margin: 0 10px 10px;
  background-color: var(--white);
  border: 1px solid var(--primary-color) !important;
  border-radius: 30px !important;
  font-weight: 500;
  transition: all 0.3s ease;
}

.category-btn:hover, .category-btn.active {
  background-color: var(--primary-color) !important;
  color: var(--white) !important;
}
