:root {
  --primary-color: #FFD1DC; /* Pastel pink */
  --secondary-color: #F8F0E3; /* Nude */
  --accent-color: #E0F2F7; /* Light teal */
  --white: #FFFFFF;
  --light-gray: #F5F5F5;
  --text-color: #333333;
  --light-yellow: #FFFACD;
}